---
import SiteLayout from "../components/SiteLayout.astro";
---

<SiteLayout title="zeu.dev">
  <main class="flex flex-col gap-4 px-4 py-8 text-white text-lg">
    <pre aria-label="zeu in ASCII NV Script" class="text-yellow-500">
                                
                                
    ,gggg,   ,ggg,   gg      gg 
   d8"  Yb  i8" "8i  I8      8I 
  dP    dP  I8, ,8I  I8,    ,8I 
,dP  ,adP'  `YbadP' ,d8b,  ,d8b,
8"   ""Y8d8888P"Y8888P'"Y88P"`Y8
      ,d8I'                     
    ,dP'8I                      
   ,8"  8I                      
   I8   8I                      
   `8, ,8I                      
    `Y8P"                       


    </pre>
    <h1 class="text-5xl font-bold text-yellow-500">hey hi hello!</h1>
    <h2 class="text-yellow-500 font-medium text-2xl">welcome to my site!</h2>

    <p>
      I have plenty of ideas and projects I want to talk to you guys about
      and so I made this site to showcase all I've been doing.
    </p>

    <p>
      updates and showcases will be hosted here, alongside my own thoughts
      with papers and micro-blogs.
    </p>
  

    <p class="text-yellow-500">- @zeu_dev</p>
  </main>
</SiteLayout>
