---
import SiteLayout from "../components/SiteLayout.astro";
---

<SiteLayout title="zeu.dev">
  <main class="flex flex-col gap-4 px-4 py-8 text-white text-lg">
    <h1 class="text-5xl text-yellow-500 font-bold">Resume</h1>
    <p class="text-yellow-500">
      Notable works, professional and otherwise.
    </p>

    <h3 class="text-3xl font-semibold text-yellow-500">OpenSauced</h3>
    <section>
      <h4 class="text-xl font-semibold">
        <span class="text-yellow-500">App</span> Open Source Repository Data Analytics Platform
      </h4>
    </section>
    <section>
      <h4 class="text-xl font-semibold">
        <span class="text-yellow-500">Landing Page</span> Marketing, Blogs, and Changelogs
      </h4>
      
    </section>
    <section>
      <h4 class="text-xl font-semibold">
        <span class="text-yellow-500">Pizza CLI</span> Open Source Team Orchestration Tool
      </h4> 
    </section> 

    <h3 class="text-3xl font-semibold text-yellow-500"></h3>
    <section>

    </section>
  </main>
</SiteLayout>
