---
import SiteLayout from "../components/SiteLayout.astro";
---

<SiteLayout title="zeu.dev">
  <main class="flex flex-col gap-4 px-4 py-8 text-white text-lg">
    <h1 class="text-5xl text-yellow-500 font-bold">Resume</h1>
    <p class="text-yellow-500">
      Notable works, professional and otherwise.
    </p>

    <section class="flex flex-col gap-4">
      <div class="flex gap-4 items-center font-bold">
        <h3 class="text-3xl text-yellow-500">OpenSauced</h3>
        <p class="text-sm decoration-4 underline underline-offset-4 decoration-dashed">Since February 2024</p>
      </div>

      <ul>
        <li>
          <h4 class="text-sm font-bold">
            <span class="text-2xl text-yellow-500"># App </span> 
            Open Source Repository Data Analytics Platform
          </h4>
        </li>
        <li> 
          <h4 class="text-sm font-bold">
            <span class="text-2xl text-yellow-500"># Landing Page </span> 
            Marketing, Blogs, and Changelogs
          </h4>
        </li>
        <li>
          <h4 class="text-sm font-bold">
            <span class="text-2xl text-yellow-500"># Pizza CLI </span> 
            Repository Team Orchestration Tool
          </h4> 
        </li> 
      </ul>
    </section>
  </main>
</SiteLayout>
