<section class="flex flex-col">
  <div class="border-2 rounded-t-xl px-8 py-4">
    <slot name="preview" /> 
  </div>
  <div class="border-2 rounded-b-xl px-8 py-4">
    <slot name="code" />
  </div>
</section>
