---
import { ViewTransitions } from "astro:transitions";
const { title } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
    <ViewTransitions />
	</head>
	<body class="relative font-syne bg-neutral-900 text-yellow-500 grid grid-cols-1 md:grid-cols-5 w-full h-full min-w-screen min-h-screen">
    <aside class="sticky top-0 max-h-screen flex items-center border-yellow-500 justify-between md:border-r-2 w-full md:w-fit md:justify-start md:items-start h-fit md:h-full md:flex-col gap-4 font-medium p-4">
      <div class="flex flex-col gap-2 text-xl">
        <h1>
          <a href="/" class="after:content-['_->']">zeu.dev</a>
        </h1>
        <h2 class="hidden md:flex">all things me!</h2>
      </div>

      <button id="menu_button" class="px-2 py-1 border border-yellow-500 self-end w-fit h-fit md:hidden">
        Menu
      </button>

      <nav id="navigation" class="hidden md:flex flex-col gap-4 w-full md:col-span-1" transition:persist>
        <hr class="border-yellow-500 " />

        <section class="flex flex-col gap-2 text-white">
          <h3 class="text-yellow-500">socials</h3>
          <a href="https://twitter.com/zeu_dev" target="_blank" class="after:content-['_↗']">twitter</a>
          <a href="https://github.com/zeucapua" target="_blank" class="after:content-['_↗']">github</a>
          <a href="https://twitch.tv/zeu_dev" target="_blank" class="after:content-['_↗']">twitch</a>
        </section>

        <hr class="border-yellow-500 " />

        <section class="flex flex-col gap-2 text-white">
          <h3 class="text-yellow-500">
            <a href="/blog" class="after:content-['_->']">blog</a>
          </h3>
        </section>

        <hr class="border-yellow-500 " />

        <section class="flex flex-col gap-2 text-white">
          <h3 class="text-yellow-500">
            <a href="/resume" class="after:content-['_->']">resume</a>
          </h3>
          <a href="https://app.opensauced.pizza" target="_blank" class="after:content-['_↗']">OpenSauced</a>
          <a href="https://easytodo.link" target="_blank" class="after:content-['_↗']">easytodo.link</a>
        </section>
      </nav>
    </aside>

    <div class="md:col-span-4 w-full h-full" transition:animate="slide">
      <slot />
    </div>
	</body>
</html>

<script>
  const menuButton = document.querySelector("#menu_button");
  const navSection = document.querySelector("#navigation");
</script>

<style is:global>
  @font-face {
    font-family: "SyneMono";
    src: url("/SyneMono-Regular.ttf");
  }
</style>
